Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Online/Offline available assets
Content/StarterContent/
Content/UFOGameDemo/
Content/GameJamKit/
Content/2DSideScroller/
